
extends layout

block content
  div(class="container-fluid text-center" id="cont")
    h1= title
    p Please Add an item
    div(class="row")
      form(action='/add/', method='post')
        div(class="col-md-4")
          lable Name:
          input(class='form-control', type='text', name='name')
        div(class="col-md-4")
          lable Price:
          input(class='form-control', type='number', name='price')
        div(class="col-md-4")
          lable GST Slab:
          select(class='form-control', name='slab')
            option(value=5) 5%
            option(value=12) 12%
            option(value=18) 18%
            option(value=28) 28%
        input(class="btn btn-primary" type='submit', value='Submit')

    div(class="row")
      div(class="col-md-8")
        table(class="table table-hover")
          tr
            th Name
            th Price
            th GST Slab
            th GST
            th Total
            th Added At
            - var i = 0, grandTotal = 0;
          for item in items
            tr
              td #{item.name}
              td #{item.price}
              td #{item.slab}
              td #{item.sum}
              td #{item.total}
              td #{item.createdAt}
              - grandTotal = grandTotal + item.total;
          tr
            th
            th
            th
            th Grand Total
            th #{grandTotal}
            th

      div(class="col-md-4")
        p GST slab breakout
        canvas(id="chartPic" width="50%" height="50%")
  script.
    var ctx = document.getElementById("chartPic").getContext("2d");
    var cd = {
      datasets: [{
          data: [#{chartdata}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
          ],
          borderWidth: 1
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: ['5%','12%','18%','28%']
    };
    var myPieChart = new Chart(ctx,{type: 'pie', data: cd });
